.location {
    background-color: #011301;
    box-shadow: 1px 1px 5px;
    padding: 1em 1.5em 1.5em;
    margin-bottom: 4em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5 em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
}

.location__title {
    text-align: center;
    margin-bottom: 0.5em;
    color: #df34cb;
    filter: brightness(1.1);
}

.location__list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.location__item {
    display: grid;
    gap: 0.3em;
    text-align: center;
    font-weight: 300;
    color: #aaa;
}